@model MonitorViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Monitor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Header)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Header)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interval)
        </dd>
    </dl>
    <br/>
    <h2>Uptime For Last 24 Hours</h2>
    <table class="table">
        <thead>
        <tr>
            <th>
                #
            </th>
            <th>
               Monitor Status
            </th>
            <th>
                Time Stamp
            </th>
        </tr>
        </thead>
        <tbody>
        @{int i = 0;}

        @foreach (var item in Model.Logs)
        {
            i++;
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @if (item.IsUp)
                    {
                        <span>UP</span>
                    }
                    else
                    {
                        <span>DOWN</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
